
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
margin:0;

}
:root{
  --main-color:#1A1B26;
  --dark:#02030C;

  --gray: #2C2E3E;
  --lightGray: #3a3c56;
  --hoverGray:#484B60;

  --font:'JetBrains Mono', monospace;
 /* --fontHeader:'Bebas Neue', cursive;
  --fontCode:'Courier Prime', monospace;
  --fontDescription: 'Poppins', sans-serif;*/




}
.App {
  text-align: center;
  background-color: var(--main-color);
  font-family: var(--font);

}

